{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'noticias:home' %}">Home</a></li>
                <li><a href="{% url 'noticias:esportes' %}">Esportes</a></li>
                <li><a href="{% url 'noticias:esportes' %}">Entretenimento</a></li>
                <li><a href="{% url 'noticias:esportes' %}">Política</a></li>
                <li><a href="{% url 'noticias:contato' %}">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="news-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; 2023 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>
