{% extends 'base.html' %}
{% load static %}

{% block title %}Política{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/styl.css' %}">{% endblock %}


{% block content %}
{% for noticia in noticias %}
<div class="container-noticia">
    <a href="{% url 'noticias:noticia' noticia.id %}">
        <img src="{{ noticia.imagem.url }}" alt="{{ noticia.titulo }}" width="800" height="450">
        <h2>{{ noticia.titulo }}</h2>
    </a>
    <p class="data"><strong>Data de publicação:</strong> {{ noticia.data_publicacao }}</p>
</div>
{% endfor %}
{% endblock %}
